*.js
*.js.map
HELP.md
target/
!.mvn/
!**/src/main/**/target/
!**/src/test/**/target/
!database.mv.db
**.pixil



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
¡


# Local Netlify folder
.netlify
